.signup-background {
    background-image: url("C:\Minor_project\cafe_online_ordering_system\frontend\public\loginbg.jpg");
    background-size: cover;
  }
  
  .container-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .signup-form {
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(0, 0, 0);
    box-shadow: rgba(174, 212, 229, 0.878) 0px 30px 30px -20px;
    margin: 20px;
  }
  /* .container {
    display: flex;
  
    height: 100%;
    align-items: center;
    justify-content: center;
  } */
  .signup-container text{
    font-size: 4rem;
    margin-top: 2rem;
  }
  
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    padding: 2.5em;
    border-radius: 25px;
    transition: 0.4s ease-in-out;
    box-shadow: rgba(206, 195, 195, 0.4) 1px 2px 2px;
  }
  
  .form:hover {
    transform: translateX(-0.5em) translateY(-0.5em);
    border: 1px solid #171717;
    box-shadow: 10px 10px 0px #948989;
  }
  
  .heading {
    color: rgb(255, 255, 255);
    padding-bottom: 1em; /* Adjusted padding to provide better spacing */
    text-align: center;
    font-weight: bold;
    font-size: 1.5em; /* Adjusted font size for better readability */
  }
  
  .input {
    border-radius: 5px;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    outline: none;
    padding: 0.7em;
    transition: 0.4s ease-in-out;
  }
  
  .input:hover {
    box-shadow: 6px 6px 0px #969696, -3px -3px 10px #ffffff;
  }
  
  .input:focus {
    background: #ffffff;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .signup-btn {
    margin-top: 2em;
  }
  
  .signup-btn {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 2px 4px #000000;
  }
  
  .signup-btn:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .signup-btn:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .signup-btn:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #000000;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .signup-btn:hover {
    color: #ffffff;
    border: 1px solid #000000;
  }
  
  .signup-btn:hover:before {
    top: -35%;
    background-color: #000000;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .signup-btn:hover:after {
    top: -45%;
    background-color: #000000;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .signup-background .container {
    display: flex;
    height: 100%;
    align-items: center;
  }
  
  .signup-background svg {
    display: block;
    font: 15rem 'Montserrat'; /* Adjusted font size */
    width: auto;
    height: auto;
    margin: 0 auto;
  }
  
  .signup-background .text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 15px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
  }
  
  .signup-background .text-copy:nth-child(1) {
    stroke: rgb(0, 0, 0);
    animation-delay: -1;
  }
  
  .signup-background .text-copy:nth-child(2) {
    stroke: #ff1010;
    animation-delay: -2s;
  }
  
  .signup-background .text-copy:nth-child(3) {
    stroke: #00a4bd;
    animation-delay: -3s;
  }
  
  .signup-background .text-copy:nth-child(4) {
    stroke: #ff0000;
    animation-delay: -4s;
  }
  
  .signup-background .text-copy:nth-child(5) {
    stroke: #000000;
    animation-delay: -5s;
  }
  
  @keyframes stroke-offset {
    100% {
      stroke-dashoffset: -25%; /* Adjusted stroke-dashoffset for better fitting */
    }
  }
  